<h1>Productos actualizados</h1>
<table border="1">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Codigo</th>
        </tr>
    </thead>
<tbody id="ProductsTable">

</tbody>
</table>
<hr>

<h2>Agregar producto</h2>

<form 
    id="form"
    method="POST"
    action="/products"
    enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Nombre">
        <input type="text" name="description" placeholder="Descripción">
        <input type="number" name="price" placeholder="Precio">
        <input type="number" name="stock" placeholder="Stock">
        <input type="file" name="thumbnail" accept="image/*">
        <input type="number" name="code" placeholder="Código">

<button type="submit">Agregar</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/RealTimeProducts.js"></script>